<nav class="sidebar" [class.collapsed]="collapsed">
  <div class="toggle-btn" (click)="toggleSidebarWidth()">
    ☰
  </div>

  <ul class="menu">
    <!-- Dashboard -->
    <li>
      <a routerLink="/dashboard" class="menu-item">
        <i class="fas fa-home"></i> <span *ngIf="!collapsed">Dashboard</span>
      </a>
    </li>

    <!-- Jobs -->
    <li>
      <div class="menu-item parent" (click)="toggleMenu('jobs')">
        <i class="fas fa-utensils"></i> <span *ngIf="!collapsed">Food items</span>
        <span class="arrow" *ngIf="!collapsed" [class.open]="openMenu === 'jobs'">▾</span>
      </div>
      <ul class="submenu" *ngIf="openMenu === 'jobs' && !collapsed">
        <li><a routerLink="/jobs/recommended">Add items</a></li>
        <li><a (click)="this.navigateTo('/welcome/all_Application')" routerLinkActive="active">items List</a></li>
      </ul>
    </li>

    <!-- Recruiters -->

  </ul>
</nav>
