.footer {
  background: #0a0a0ad9;
  color: #fff;
  padding: 30px 20px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.footer-logo img {
  height: 112px;
  margin-bottom: 10px;
}

.footer-info p {
  margin: 5px 0;
  font-size: 14px;
}

.footer-social a {
  color: #ffd28c;
  margin: 0 5px;
  text-decoration: none;
  font-size: 14px;
}

.footer-social a:hover {
  text-decoration: underline;
}

.copy {
  margin-top: 15px;
  border-top: 1px solid rgba(255,255,255,0.3);
  padding-top: 10px;
  font-size: 12px;
}
